@model Freelance.Web.Models.ProfileViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Create";
}

<h2><span class="glyphicon glyphicon-pencil"></span>СОЗДАТЬ</h2>

@using (Html.BeginForm("Create", "Profile", new { UserId = User.Identity.GetUserId() }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Новый профиль</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.CategoryId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.IndexState.Categories, "key", "value", Model.CategoryId), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionProfile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionProfile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionProfile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class='input-group date time'>
                    @Html.TextBoxFor(model => model.TimeFrom, new { @class = "form-control", placeholder = "Выберите время" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.TimeFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class='input-group date time'>
                    @Html.TextBoxFor(model => model.TimeTo, new { @class = "form-control", placeholder = "Выберите время" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.TimeTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="actions" hidden>

            <input type="file" id="upload" data-type-file="text" name="File" value="Choose a file" placehol />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 btn-group">
                <button type="button" data-source="file" class="btn btn-default">
                    <span class="glyphicon glyphicon-paperclip"></span>
                </button>
                <button type="submit" class="btn btn-success">Создать</button>
            </div>
        </div>
    </div>
}


<div>
    <a href="@Url.Link("Index", Model.IndexState, Model.IndexState.SortProperty)" role="button" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Назад к списку
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/Exif")
    <script type="text/javascript">
        $(function () {

            $('button[data-source="file"]').on("click", function (e) {
                $("input[type='file']").trigger('click');
            });
           
        });
    </script>
}
