@model PagginationModelList<ProfileViewModel>

@{
    ViewBag.Title = "My profiles";
}

<h2>Мои профили</h2>

<p>
    @Html.ActionLink("Создать профиль", "Create", Model.IndexState)
</p>


<table class="table">
    <tr>
        <th>
            Имя Фрилансера
        </th>
        <th>
            Название категории
        </th>
        <th>
            Описания профиля
        </th>
        <th>
            Время доступности
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PageList)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FreelancerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAvailability)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id, State = Model.IndexState }) |
                @Html.ActionLink("Details", "Details", new { Id = item.Id, State = Model.IndexState }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id, State = Model.IndexState })
            </td>
        </tr>
    }

</table>
<br />
Страница @(Model.PageList.PageCount < Model.PageList.PageNumber ? 0 : Model.PageList.PageNumber) из @Model.PageList.PageCount

@Html.PagedListPager(Model.PageList, page => Url.ActionToPage("FreelancerProfiles", Model.IndexState, page))




