@model PagedList.IPagedList<Freelance.Web.Models.ProfileViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayName(model => model.UserId)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>*@
        <th>
            Description Profile
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
