@model PagedList.IPagedList<Freelance.Web.Models.ProfileViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}


<div class="page-header">
    <h1>Профили</h1>
</div>

@Html.Partial("_OfferCreatePartial")
<table class="table">
    <tr>
        <th>
           Категории
        </th>
        <th>
        </th>
        <th>
            Время доступности
        </th>
        <th>
            Подтвержден
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
       
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="left" data-content="@item.PhoneNumber">
                    <span class="glyphicon glyphicon-phone"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="@item.FreelancerName">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="@item.DescriptionProfile">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </button>
             </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeAvailability)
        </td>
        <td>
            <span class="glyphicon glyphicon-ok text-success"></span>
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-success btn-sm" data-offer-modal="#OfferCreate" data-profile-id="@item.Id">
                    <span class="glyphicon glyphicon-plus"></span>
                    Бронировать
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-minus"></span>
                Удалить бронь
                </button>
                
           </div>
        </td>
    </tr>
}

</table>
<br/>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section scripts{
<script src="~/Scripts/offercreate.js"></script>
<script src="~/Scripts/freelancedatepicker.js"></script>
}
