
@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("freelancer"))
        {
            <li>@Html.ActionLink("Мои профили", "About", "Home")</li>
            <li>@Html.ActionLink("Предложения", "Contact", "Home")</li>

        }
        else if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Категории", "Index", "Category")</li>
        }
        else
        {
            <li>@Html.ActionLink("Обзор фрилансеров", "About", "Home")</li>
        }

    }
    <li>@Html.ActionLink("О программе", "About", "Home")</li>
    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
</ul>
